@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.core.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/css/glide.theme.css");



/* Root Elements */

.wrap {
  max-width: 900px;
  margin: 0 auto;
}
.glide__slide {
  border: 1px solid black;
  line-height: 100px;
  margin: 0;
  text-align: center;
}

html, body {
  overflow-x: hidden;
}

html {
  max-width: 1600px;
  margin: auto;
  font-size: 16px;
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: rgba(30, 30, 30, 1);
  background-image: radial-gradient(rgba(255,255,255, .25) 1px, transparent 0);
  background-size: 3rem 3rem;
  background-position: -20px -20px;
}

body {
}

h1 {
  size: 2rem;
}

/* Main Nav */
#main {
  height: 5rem;
  position: relative;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#main-nav {
  height: inherit;
  display: flex;
  overflow: hidden;
  align-items: center;
  position: fixed;
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

#main-nav #main-menu {
  margin-right: 2rem;
  overflow-wrap: none;
}

#main-nav #name {
  text-decoration: none;
  margin-left: 2rem;
  font-size: 2rem;
  color: white;
}

#main-nav #name:hover {
  color: rgba(255, 255, 255, 0.5);
}

#main-line {
  position: fixed;
  width: 100vw;
  margin-top: 5rem;
  height: .5rem;
  border-bottom: .25rem solid rgba(255, 255, 255, 0.05);
}

/* Navigation Button */

.btn {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  height: 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  backdrop-filter: blur(1rem);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0rem 0.4rem 0rem 0rem rgba(225, 225, 225, 0.5);
  color: black;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Display Signature */

#signature {
  position: fixed;
  font-weight: 100;
  bottom: 1rem;
  color:white;
  left: 0;
  letter-spacing: .5rem;
  font-size: 1rem;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

#signature:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* Sections */

section {
  height: 100vh;
}

section .head {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 3rem;
}

.container {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 3rem;
  padding: 0rem 1rem 0rem 1rem;
}

/* .container::-webkit-scrollbar {
  display: none;
} */

.slider-arrow {
  color: black;
  font-weight: bold;
}

.card {
  /* flex: 0 0 auto; */
  display: grid;
  grid-template-rows: 75% 25%;
  height: 50rem;
  width: 20rem;
  /* background-color: white; */
}

.card .card-image {
  max-height: auto;
  max-width: 100%;
  object-fit: contain;
  border-radius: 1.5rem 1.5rem 0 0;
}

.card .card-text {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 2rem 2rem 1rem;
  border-radius: 0 0 1.5rem 1.5rem;
  color: white;
  background-color: transparent;
}

.glid-icon {
  background-color: rgba(255, 255, 255, 0.3);
}

.glid-icon:hover {
  background-color: rgba(255, 255, 255, 0.75);
}


.sticky {
  position: fixed !important;
  height: 5rem !important;
  top: 0; 
}

/* CSS Canvas */

.canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

/* Mobile Navigation  */

#mobile {
  height: 10vw;
  top: 0;
}

#mobile .icon {
  text-decoration: none;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
}
.mobile-menu {
  position: fixed;
  float: right;
  width: 100vw;
  margin-top: 20%;
  transition: all 1s;
  transform: translateX(100%);
}
.mobile-menu.collapse {
  transition: all 1s;
  transform: translateX(-2.5%);
} 
.mobile-btn {
  margin-left: auto;
  margin-right: 1rem;
  width: fit-content;
  text-align: center;
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  backdrop-filter: blur(1rem);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0rem 0.4rem 0rem 0rem rgba(225, 225, 225, 0.5);
  color: black;
}

/* Mobile Nav Menu */

.nav-toggle {
  position: fixed;
  display: block;
  border-radius: 1rem;
  background-color: transparent;
  right: 0;
  top: 0;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  padding: 2rem 2rem;
}
.nav-toggle span {
  position: relative;
  display: block;
  height: .30rem;
  width: 100%;
  margin-bottom: .75rem;
  border-radius: .5rem;
  background-color: rgb(255, 255, 255);
  transition: all .25s;
}

/* Hamburger Animation */

.nav-toggle.open span:first-child {
  background-color: rgba(225, 0, 0, .75);
  transform-origin: center left;
  transform: rotate(45deg);
}
.nav-toggle.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.nav-toggle.open span:last-child {
  background-color: red;
  transform-origin: center left;
  transform: rotate(-45deg);
}

/* Contact Form */
#contact-form {
  display: flex;

}

#form-name {

}

#input-name {

}

/* Media Query */

@media screen and (max-width: 767px) {
  html {
    font-size: 10px;
  }
  #main {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
  #mobile {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 14px;
  }
  #mobile {
    display: none;
  }
}
